*{
    margin: 0;
    padding: 0;
}
html,body,#app{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;    
    background-color: #f5f5f5;
}
.van-nav-bar__left{
    font-size: 16px !important;
}
.van-nav-bar__arrow+.van-nav-bar__text{
    margin-left: -24px !important;
}
.van-nav-bar__text{
    color: #333333 !important;
}
.van-nav-bar  .van-icon{
    font-size: 21px;
    color: #000 !important;
}